:root {
    --title-color: #1d1d1d;
    --red-color: #f84b67;
    --shadow-color: #cfcbcb;
    --border-color: #edf1f6;
    --white-color: #fff;
    --black-color: #000;
    --overlay-color: rgba(0, 0, 0, 0.3);
    --main-color: #fff;
    
    --header-height: 60px;
}

*{
    box-sizing: inherit;    
}

html{
    /* 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.non-active {
    font-size: 0;
    display: none;
  }

.active {
    display: flex;
}

.modal-body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.3s;
}

.red-color{
    color: #f84b67;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
  }
 .fadeIn {
    animation-name: growth linear 0.3s;
 } 
   
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@keyframes activeImg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

  
  