* {
  box-sizing: border-box;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-color);
}

/* head */

.head {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: red;
  height: var(--header-height);
  top: 0;
}

.navbar,
.navbar-tool {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}

.logo-img {
  width: 34px;
  height: 34px;
}

.navbar-tool{
  margin-left: 60 px;
}

.add-btn{
  outline: none;
  color: #fff;
  font-weight: 600;
  background-color: red;
  padding: 12px 16px;
  border: none;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.most-viewed {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
  z-index: 99 !important;
}

.post-box-right {
  display: flex;
}

.viewed-list{
  display: none;
  position: absolute;
  top: 70%;
  left: 10px;
  color: black;
  width: 400px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: var(--white-color);
  list-style: none;
  padding: 10px;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
  max-height: 500px;
  align-items: center;
  z-index: 99 !important;
  align-items: center;
  justify-content: center;
}


.viewed-item{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  overflow: auto;
}

.viewed-item .view0{
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewed-item-in4{
  padding: 10px 0;
}

.most-shared {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.instant-of-year {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.year-list{
  display: none;
  position: absolute;
  top: 70%;
  right: 10px;
  color: black;
  width: 400px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: var(--white-color);
  list-style: none;
  padding: 10px;
  transform-origin: calc(100% - 32px) top;
  animation: yearGrowth ease-in 0.5;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
@keyframes yearGrowth{
  from{
      opacity: 0;
      transform: scale(0);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}

.year-item{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  z-index: 10;
}

.year-item-in4{
  padding: 10px 0;
}

/* content */
.content {
  color: black;
  font-size: 1.2rem;
  margin-top: var(--header-height);
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}

.content-start {
  max-width: 1200px;
  height: 800px;
}

.img-start {
  width: 100%;
  height: 100%;
  display: none;
}

.wrt-st-in-here {
  /* margin-top: 20px; */
  list-style: none;
}

.post {
  overflow: auto;
  background-color: white;
  padding: 10px 20px;
  margin-top: 10px;
}

.post-header{
  display: flex;
  padding-top: 5px;
  overflow: auto;
  justify-content: space-between;
}

.st-in-post-header{
  display: flex;
}

.delete-icon {
  font-size: 2.5rem;
}

.delete-icon:hover {
  cursor: pointer;
  color: red;
}


.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-in4{
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 10px;
}

.person-name{
  font-size: 1.5rem;
}

.place-icon,
.time-icon{
  padding: 5px;
}

.post-place{
  font-size: 1rem;
}

.post-time{
  padding: 10px;
}

.img-name{
  font-size: 2rem;
}

.img-count{
  padding: 15px;
}

.post-body {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  flex-direction: column;
  overflow: auto;
}

.contain-img {
  max-height: 400px;
  margin: auto;
}
.post-img {
  cursor: pointer;
  max-height: 400px; 
  justify-content: center;
  width: 100%;
}

.funtion-bar {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.bar-view{
  padding: 10px;
  display: flex;

}

.view-text {
  margin-left: 5px;
  display: flex;
}

.bar-heart:hover {
  cursor: pointer;
  color: var(--red-color);
}

.bar-share:hover {
  cursor: pointer;
  color: blue;
}


.fn-linked-list{
  padding: 10px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 99 !important;
}

.modal-overlay{
  position: absolute;
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
}

.modal-body{
  width: 35%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background-color: var(--white-color);
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 1px;
}

.icon-close{
  font-size: 2rem;
}

.modal-inner{
}

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.space {
  margin-top: 36px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", Arial;
  background: #EDEDED;
}
.charts {
  width: 600px;
  margin-bottom: 10px;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
  font-size: 13px;
}
#bar-chart {
  width: 500px;
  height: 300px;
  position: relative;
}
#line-chart {
  width: 500px;
  height: 300px;
  position: relative;
}
#bar-chart::before, #line-chart::before {
  content: "";
  position: absolute;
  display: flex;
  width: 240px;
  height: 30px;
  left: 155px;
  top: 254px;
  background: #FAFAFA;
  box-shadow: 1px 1px 0 0 #DDD;
}