* {
  box-sizing: border-box;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-color);
}

/* head */

.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: red;
  height: var(--header-height);
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.logo-img {
  width: 34px;
  height: 34px;
}

.add-btn{
  outline: none;
  color: #fff;
  font-weight: 600;
  background-color: red;
  padding: 12px 16px;
  border: none;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}

.most-viewed {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.viewed-list{
  display: none;
  position: absolute;
  top: 70%;
  left: 10px;
  color: black;
  width: 400px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: var(--white-color);
  list-style: none;
  padding: 10px;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
}


.viewed-list::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  left: 6px;
  top: -30px;
}

.most-viewed:hover .viewed-list{
  display: flex;
  flex-direction: column;
}

.viewed-item{
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.viewed-item-in4{
  padding: 10px 0;
}

.most-shared {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.shared-list{
  display: none;
  position: absolute;
  top: 70%;
  left: 10px;
  color: black;
  width: 400px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: var(--white-color);
  list-style: none;
  padding: 10px;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
}

.shared-list::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  left: 6px;
  top: -30px;
}

.most-shared:hover .shared-list{
  display: flex;
  flex-direction: column;
}

.shared-item{
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.shared-item-in4{
  padding: 10px 0;
}

.instant-of-year {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.year-list{
  display: none;
  position: absolute;
  top: 70%;
  right: 10px;
  color: black;
  width: 400px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: var(--white-color);
  list-style: none;
  padding: 10px;
  transform-origin: calc(100% - 32px) top;
  animation: yearGrowth ease-in 0.5;
  will-change: opacity, transform;
  display: none;
  z-index: 1;
}
@keyframes yearGrowth{
  from{
      opacity: 0;
      transform: scale(0);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}


.year-list::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 6px;
  top: -30px;
}

.instant-of-year:hover .year-list{
  display: flex;
  flex-direction: column;
}

.year-item{
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.year-item-in4{
  padding: 10px 0;
}

/* content */
.content {
  color: black;
  font-size: 1.2rem;
}

.wrt-st-in-here {
  margin-top: 20px;
  list-style: none;
}

.img-name{
  font-size: 2rem;
}

.img-count{
  padding: 15px;
}

.img-box {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.funtion-bar {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.heart:hover {
  cursor: pointer;
  color: var(--red-color);
}

.share:hover {
  cursor: pointer;
  color: blue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.modal-overlay{
  position: absolute;
  background-color: var(--overlay-color);
  width: 100%;
  height: 100%;
}

.modal-body{
  width: 35%;
  height: 100%;
  margin: auto;
}

.modal-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background-color: var(--white-color);
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 1px;
}

.icon-close{
  font-size: 2rem;
}

.modal-inner{
  position: absolute;
  top: -20px;
}

.form {
  width: 360px;
  min-height: 100px;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .heading {
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: #1dbfaf;
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #1ac7b6;
}

.spacer {
  margin-top: 36px;
}


