/* mobile and tablet */
@media (max-width: 1023px) {
    .hide-on-mob-tab {
        display: none;
    }

    .bars-icon,
    .down-icon{
        display: none;
    }

    .tool-bars {
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        display: flex;
        z-index: 10;
        width: 10px;
    }
    
    .tool-bars-icon {
        position: relative;
    }

    .navbar-tool{
        display: none;
        position: absolute;
        top: var(--header-height);
        flex-direction: column;
        width: 100%;
        left: 0;
        padding: 0;

    }

    .add-btn,
    .navbar-add{
        width: 100%;
    }

    .add-btn,
    .most-viewed,
    .most-shared,
    .instant-of-year{
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        justify-content: center;
    }

    .viewed-list,
    .year-list{
        width: 100%;
        left: 0;
        flex-direction: column;
    }

    .viewed-list {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
    }
      
    .viewed-item{
        position: absolute;
        background-color: var(--overlay-color);
        width: 100%;
        height: 100%;
    }

    .viewed-close {
        padding: 10px;
        cursor: pointer;
        background-color: var(--white-color);
        border-radius: 50%;
        margin-right: 5px;
        margin-top: 1px;
    }

    .icon-viewed-close{
        color: black;
        font-size: 1.5rem;
    }

    .navbar-logo{
        display: flex;
        align-items: center;
    }

    .viewed-item{
        background-color: var(--white-color);
    }

    .content-start{
        height: auto;
    }

    .contain-img {
        height: 400px;
        margin: auto;
    }

    .post-img {
        width: 100%;
    }
    
    @keyframes SideIn {
        from {
            top: calc(var(--header-height) / 2 );
            opacity: 0;
        }

        to {
            top: calc(var(--header-height) - 12px );
            opacity: 1;
        }
    }
    .on-mob-tab {
        display: flex;
        justify-content: center;
    }

    .active {
        display: flex;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .on-tab{
        display: flex;
    }       
    
}   

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .on-mobile {
        padding: 10px 10px;
    }

    .post-img {
        width: 100%;
        height: 90%;
    }
}

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
      
    .instant-of-year:hover .year-list{
        display: flex;
        flex-direction: column;
    }
  
    .most-viewed:hover .viewed-list{
        display: flex;
        flex-direction: column;
    }

    .viewed-list::before {
        content: "";
        border-width: 20px 27px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 6px;
        top: -30px;
    }

    .year-list::before {
        content: "";
        border-width: 20px 27px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        right: 6px;
        top: -30px;
    }
      
}